html, body {
	margin:0;
	padding:0;
	background:#000000;
}

#main {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

#canvasHolder {
	position:relative;
	height:600px;
	width:1000px;
}


canvas {
	border: 1px solid #333333;
}

#imageCanvas {
	position:relative;
	width:1000px;
	height:600px;
}

h2 {
	color:red;
	text-align:center;
}